@page
@model AdminPanel
@{
    ViewData["Title"] = "AdminPanel";
}
@if (Model.Permissions == 1) 
{
<button type="button" class="btn btn-primary btn-lg">Large button</button>
}
<button type="button" class="btn btn-secondary btn-lg">Large button</button>