@page
@using ProjectIO.model
@model ProjectIO.Pages.Account.RegisterModel
@{
}

<div class="container-fluid mt-5 mb-2">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 border p-5">
            <form method="post">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <div class="form-group row p-2">
                    <label asp-for="Input.name">First Name:</label>
                    <input type="text" asp-for="Input.name" class="form-control" />
                    <span class="text-danger" asp-validation-for="Input.name"></span>
                </div>

                <div class="form-group row p-2">
                    <label asp-for="Input.surname">Last Name:</label>
                    <input type="text" asp-for="Input.surname" class="form-control" />
                    <span class="text-danger" asp-validation-for="Input.surname"></span>
                </div>

                <div class="form-group row p-2">
                    <label asp-for="Input.gender">Gender:</label>
                    <select asp-for="Input.gender" class="form-control">
                        <option value="" disabled selected>Choose...</option>
                        @foreach (var gender in Enum.GetValues(typeof(Gender)))
                        {
                            <option value="@gender">@gender</option>
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="Input.gender"></span>
                </div>


                <div class="form-group row p-2">
                    <label asp-for="Input.phone">Phone:</label>
                    <input type="tel" asp-for="Input.phone" class="form-control" pattern="[0-9]{9}" placeholder="123456789" />
                    <span class="text-danger" asp-validation-for="Input.phone"></span>
                </div>

                <div class="form-group row p-2">
                    <label asp-for="Input.email">Email:</label>
                    <input type="email" asp-for="Input.email" class="form-control" />
                    <span class="text-danger" asp-validation-for="Input.email"></span>
                </div>

                <div class="form-group row p-2">
                    <label asp-for="Input.password">Password:</label>
                    <input type="password" asp-for="Input.password" class="form-control" />
                    <span class="text-danger" asp-validation-for="Input.password"></span>
                </div>

                <!-- Checkbox for Terms and Conditions -->
                <div class="form-group row p-2">
                    <div class="col-auto">
                        <input type="checkbox" id="terms" name="terms" required />
                    </div>
                    <div class="col">
                        <label for="terms">
                            I accept the <a href="/Terms" target="_blank">terms and conditions</a>.
                        </label>
                    </div>
                </div>


                <div class="form-group row p-2">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
            <span><a href="/Account/Login">Already have an account?</a></span>
        </div>
    </div>
</div>
